//----------------------------------------
// Block - Related Mini Styles, FRONTEND
//----------------------------------------

.related-mini-content {
	@apply border-2 border-secondary py-20 flex pl-20 relative;

	.link {
		@apply absolute left-0 top-0 w-full h-full;
	}

	.related-col-2 {
		@apply px-40 w-full flex flex-col gap-5 justify-center;
	}

	.related-mini-image {
		@apply w-[206px];
	}

	.related-mini-header {
		h2,
		h3,
		h4 {
			@apply leading-[48px] uppercase m-0;

			font-family: var( --wp--preset--font-family--headline-heavy );
			font-size: var( --wp--preset--font-size--xlarge-39 );
		}
	}

	.related-mini-title {
		a {
			@apply leading-6 no-underline text-secondary;
			font-family: var( --wp--preset--font-family--headline-heavy );
			font-size: var( --wp--preset--font-size--medium );
		}
	}

	// Mobile
	@screen max-tablet-portrait {
		@apply px-20;

		.related-col-1 {
			@apply hidden;
		}

		.related-col-2 {
			@apply px-0;
		}

		.related-mini-header {
			h2,
			h3,
			h4 {
				@apply leading-[38px];

				font-size: var( --wp--preset--font-size--large-31 );
			}
		}
	}

	@screen desktop-max {
		@apply mx-16;
	}
}
